.sellers {
    background: var(--greyColor);

    .secContainer {
        margin: 2rem inherit;

        .sellersContainer {
            .singleSeller {
                padding: 0.5rem 0;
                border-radius: 3px;
                gap: 1rem;

                .imgDiv {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    padding: 10px;
                    background: rgb(222, 220, 220);
                    border-radius: 3px;
                }

                .info {
                    .name {
                        color: var(--blackColor);
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                &:hover {
                    background: rgb(237, 237, 237);
                    padding: 0.5rem;

                    .imgDiv {
                        width: 90px;
                        height: 90px;
                        padding: 10px;
                        border-radius: 10px;
                        background: rgb(168, 143, 243);

                        img {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 520px) {
    .sellers {
        .secContainer {
            .secHeading {
                margin-top: 2rem;

                .secTitle {
                    font-size: 25px;
                }

                p {
                    font-size: 18px;
                }
            }

            .sellersContainer {
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;

                .singleSeller {
                    gap: 1.5rem;

                    &:hover {
                        background: rgb(237, 237, 237);

                        .imgDiv {
                            width: 80px;
                            height: 80px;
                            padding: 10px;
                            border-radius: 10px;
                            background: rgb(168, 143, 243);

                            img {
                                transform: rotateY(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 840px) {
    .sellers {
        .secContainer {
            .secHeading {
                padding: 1.5rem 0;

                .secTitle {
                    font-size: 30px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .sellers {
        .secContainer {
            .sellersContainer {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}