.load-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--primaryColor); /* #8a2b06;*/
  padding: 0.5rem 2rem;
  /* border-radius: 25px;  */
  margin-left: 1rem;
  color: var(--primaryColor);
}

.actions button:hover,
.actions button:active {
  background: var(--primaryColor);
  color: var(--whiteColor);
}

.details {
  margin-top: 10px;
  padding:20px;
  color: white;
  display: flex;
  gap: 50px;
}
