@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --primaryColor: #7a63f1;
    --secondaryColor: #ebe8fc;
    --textColor: #a3a3a3;
    --greyColor: #f4f4f4;
    --whiteColor: #f5f4fa;
    --blackColor: #434344;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    color: var(--textColor);
    line-height: 1.4rem;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.primaryBtn {
    background: var(--primaryColor);
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: 600;
    color: var(--whiteColor);
    font-size: 12px;

    &:hover {
        background: var(--secondaryColor);
        color: var(--blackColor);
    }
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.section {
    padding: 4rem 0rem 2rem;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.icon {
    font-size: 25px;
    cursor: pointer;
}

.secTitle {
    color: var(--blackColor);
    font-size: 20px;
}

@media screen and (min-width: 940px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .section {
        padding: 6rem 0rem 4rem;
    }
}


@media screen and (min-width: 1024px) {
    .container {
        width: 85%;
    }
}

::selection {
    background: var(--primaryColor);
    color: var(--whiteColor);
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--secondaryColor);
}

::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 3px;
}