.trending .secContainer .secHeading {
  justify-content: space-between;
  padding: 1rem 0;
}
.trending .secContainer .secHeading .navBtns {
  gap: 0.5rem;
}
.trending .secContainer .secHeading .navBtns .icon {
  font-size: 32px;
  padding: 3px 5px;
  background: var(--secondaryColor);
  border-radius: 3px;
  cursor: pointer;
}
.trending .secContainer .secHeading .navBtns .icon:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.trending .secContainer .carContainer {
  gap: 2rem;
}
.trending .secContainer .carContainer .singleCar {
  transition: 0.5s ease-in-out;
  text-align: left;
}
.trending .secContainer .carContainer .singleCar .imgDiv {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  border: 5px solid transparent;
}
.trending .secContainer .carContainer .singleCar .imgDiv img {
  width: 100%;
  height: 100%;
}
.trending .secContainer .carContainer .singleCar .carTitle {
  color: var(--blackColor);
  font-size: 15px;
  padding-top: 10px;
}
.trending .secContainer .carContainer .singleCar .miles {
  color: var(--blackColor);
  opacity: 0.7;
  font-size: 14px;
}
.trending .secContainer .carContainer .singleCar .awd {
  padding: 1rem 0;
  color: var(--blackColor);
  font-weight: 600;
  font-size: 15px;
}
.trending .secContainer .carContainer .singleCar .price_seller {
  gap: 1rem;
}
.trending .secContainer .carContainer .singleCar .price_seller span {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: 600;
}
.trending .secContainer .carContainer .singleCar .price_seller .price {
  background: var(--secondaryColor);
  color: var(--primaryColor);
}
.trending .secContainer .carContainer .singleCar .price_seller .seller {
  background: var(--greyColor);
  color: var(--textColor);
}
.trending .secContainer .carContainer .singleCar:hover .imgDiv {
  border-color: var(--primaryColor);
}
.trending .secContainer .carContainer .singleCar:hover .imgDiv img {
  transform: scale(1.05);
}

@media screen and (min-width: 520px) {
  .trending .secContainer .secHeading {
    margin-bottom: 1rem;
  }
  .trending .secContainer .secHeading .secTitle {
    font-size: 23px;
  }
  .trending .secContainer .secHeading .navBtns {
    gap: 0.5rem;
  }
  .trending .secContainer .secHeading .navBtns .icon {
    font-size: 40px;
  }
  .trending .secContainer .carContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .trending .secContainer .carContainer .singleCar .carTitle {
    font-size: 18px;
  }
  .trending .secContainer .carContainer .singleCar .miles,
  .trending .secContainer .carContainer .singleCar .awd {
    font-size: 16px;
  }
  .trending .secContainer .carContainer .singleCar .price_seller span {
    font-weight: 600;
  }
}
@media screen and (min-width: 940px) {
  .trending .secContainer .secHeading .secTitle {
    font-size: 28px;
  }
  .trending .secContainer .secHeading .navBtns {
    gap: 1rem;
  }
  .trending .secContainer .carContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=Trending.css.map */